@page
@model T_Shirt_WebApp.Pages.UserAccounts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserAccount.UserAccountID" />
            <div class="form-group">
                <label asp-for="UserAccount.Username" class="control-label"></label>
                <input asp-for="UserAccount.Username" class="form-control" />
                <span asp-validation-for="UserAccount.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.FirstName" class="control-label"></label>
                <input asp-for="UserAccount.FirstName" class="form-control" />
                <span asp-validation-for="UserAccount.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.LastName" class="control-label"></label>
                <input asp-for="UserAccount.LastName" class="form-control" />
                <span asp-validation-for="UserAccount.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Email" class="control-label"></label>
                <input asp-for="UserAccount.Email" class="form-control" />
                <span asp-validation-for="UserAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Address" class="control-label"></label>
                <input asp-for="UserAccount.Address" class="form-control" />
                <span asp-validation-for="UserAccount.Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserAccount.IsAdmin" /> @Html.DisplayNameFor(model => model.UserAccount.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
